* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-size: 14px;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

